body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
}

.widthId {
  max-width: 100px;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.swal2-title {
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .widthId {
    max-width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-lg-responsive {
    padding: 10px 15px;
    font-size: 15px;
  }
  .widthId {
    max-width: 300px;
  }
}
