body,
html {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
}

.widthId {
  max-width: 100px;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.swal2-title {
  color: #fff; /* Cambia este valor al color deseado */
}

@media screen and (min-width: 768) and (max-width: 991) {
  .widthId {
    max-width: none;
  }
}

@media screen and (min-width: 992) {
  /* Cambiar el tamaño de los botones en pantallas grandes */
  .btn-lg-responsive {
    padding: 15px 20px;
    font-size: 20px;
  }
  .widthId {
    max-width: none;
  }
}
